body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
/* search field style */
.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid #889eaf;
  width: 320px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  border-right: none;
}
#input-field {
  color: #2f2f2f;
}
.search-button {
  padding: 10px 20px;
  border-radius: 0px 25px 25px 0px;
  margin-left: 20px;
  border: 1px;
  background: rgb(7 74 74);
  transition: 0.5s;
}
.search-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
/* search field style end*/
/* cart style */
#addToCart-btn,
#buy-now {
  background-color: #6a36e7;
  text-transform: capitalize;
  border: none;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 10px gray;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 1px solid rgb(0, 0, 0);
}
.product {
  background-color: rgb(7 74 74);
  box-shadow: 4px 4px 4px rgb(7 74 74);
  border-radius: 10px;
  color: white;
  margin: 10px;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 4px 4px 10px rgb(39 36 36);
  border-radius: 10px;
  margin-right: 30px;
  position: fixed;
  background-color: white;
}
.cart-main {
  padding-right: 30px;
}
/* media query */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
